body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.logo_menu{
    display: flex;
    flex-wrap: nowrap;
    background-image:linear-gradient(0,white,rgb(12, 12, 12));
    z-index: 9999;
    position: sticky;
    top: 0;
    width: 100%;
}
.logo_menu >div{
    width: 48%;
}
#logo_main{
    padding: 5px 10px;
}
.menu_main{
display: flex;
flex-wrap: nowrap;
justify-content: flex-end;
}
.menu_main >li{
    text-align: end;
    list-style-type: none;
}
.menu_main >li >a{
    list-style-type: none;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    font-size: 20px;
    color: rgb(45, 44, 92);
}
.menu_main >li >a:hover{
    color: white;
}

.photos >img{
    width: 100%;
    height:600px;
}
#slogan{
    position:relative;
}
#img_slogan{
    position: relative;
    width: 100%;
    height: 300px;
}
.slogan{
    width: 100%;
    position:absolute;
    top: 450px;
    text-align: center;
}
.slogan >h1{
    color: wheat;
}
.slogan >p{
    
    font-size: 20px;
    color: darkorange;
}
/*-------Contact------*/
.information{
    background-image: linear-gradient(0, rgb(231, 214, 214), black);
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0px;
    width: 100%;
    
}
.information >div{
    margin-left: 10px;
    width: 24%;
}
#support >a{
    text-decoration: none;
}
map >p{
    text-align: center;
}
#map{
    width: 24%;
}
#map iframe{
    
   width: 100%;
   height: 215px;
}
.title_infomation{
    
    border-bottom: 2px solid black;
}
#end{
    background-color: black;
    color:red;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 900px) {
    #time{
        display: none;
    }
    .information >div{
        margin-left: 20px;
        width: 32%;
    }
    #map iframe{
    
        width: 100%;
        height: 200px;;
     }
     .introduct_ip12promax{
        display: none;
    }
    .introduct_ip12{
        background-image: linear-gradient(0, white,black);
    }
    .introduct_ip12 >div >h1{
        color: white;
    }
   
}
@media screen and (max-width: 600px) {
    .something >div{
        width: 99%;
    }
    #time{
        display: none;
    }
    .information >div{
        margin-left: 10px;
        width: 32%;
    }
    #map iframe{
    
        width: 100%;
        height: 200px;;
     }
     .introduct_ip12promax{
         display: none;
     }
     .introduct_ip12{
         background-image: linear-gradient(0, white,black);
     }
     .introduct_ip12 >div >h1{
         color: white;
     }
    
}  